* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.nav-item {
    display: inline-block;
    margin: 0px 20px;
    font-size: 15px;
    cursor: pointer;
}

.signin-btn, .learn-more-btn {
    background: linear-gradient(to right,#965cf2, #ff8adc);
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 50px;
    font-weight: 200;
}

.signin-btn {
    padding: 5px 15px;
}

.learn-more-btn {
    font-size: 25px;
    padding: 15px 30px;
}

.intro-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-section {
    margin: 100px 0 0 100px;
}

.left-section h1 {
    font-size: 75px;
    color: #3e4794;
}

.left-section h4 {
    margin: 50px 525px 50px 0px;
    line-height: 30px;
    color: gray;
}


.imgs-div {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.imgs-div img:first-child {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.vector-img {
    position: absolute;
    bottom: 150px;
    left: 0;
}

.vector-dot {
    position: absolute;
    bottom: 250px;
    left: 50px;
}

.imgs-div img:last-child {
    margin: 100px 60px 0 0;
}
